[submodule "wolfssl"]
	path = wolfssl
	url = https://github.com/LCBH/wolfssl
[submodule "wolfssl470"]
	path = wolfssl470
	tag = v4.7.0-stable
	url = git@github.com:LCBH/wolfssl.git
	branch = tags/v4.7.0-stable
[submodule "wolfssl520"]
	path = wolfssl520
	url = git@github.com:LCBH/wolfssl.git
